node_modules
.DS_Store
*.sqlite
*.log
**/config/local.json
**/config/runtime.json
uploads
*.bak
*.pid
design_files
bower_components
#app/assets/**/css/**/*.css
#app/assets/**/css/*.css
*.pem
*.cer
*.p12
alipay
config/apn/certs.tar.gz
.*.swp
TAGS
tags
logs/
scripts/qr*.png
config/local.json
*nginx.conf
*.crt
*.key
*.cert
config/database.json
app/assets/users/css/corporate_app.css
lib/i18n_app/**/*.*

