doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Support contact submission from easiway
  body
    p This email contains an inquiry that Easiway's customer has made via easiway's Support webpage. 
    p Customer's inquiry is as follows:
    ul
      li name: #{name}
      li email: #{email}
      li phone: #{phone}
    p
      each line in content.split(/\n/)
        = line
        br
