doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Support contact submission from easiway
  body
    p 이 이메일은 easiway 홈페이지에 접수된 support 문의 메일입니다.
    p 입력한 내용:
    ul
      li name: #{name}
      li email: #{email}
    p
      each line in content.split(/\n/)
        = line
        br
